$white: hsl(0, 0%, 100%);
$very-dark-blue: hsl(200, 15%, 8%);
$very-dark-blue2: hsl(207, 26%, 17%);
$dark-blue: hsl(209, 23%, 22%);
$very-light-gray: hsl(0, 0%, 98%);
$dark-gray: hsl(0, 0%, 52%);

$shadow1: 0px 0px 6px 3px rgba(0, 0, 0, 0.17);
